</br>
<h1>Bienvenue <%= params[:first_name] %> !</h1>
  </br>
  <h2>Tu as trouvé la landing page secrète !</h2>
  </br>

<p><img src="https://cdns-images.dzcdn.net/images/artist/80fd670d1ba799365b0ed33f1488ad35/500x500.jpg"></p>
