</br>
<h1>Notre team</h1>
  </br>
  <h2>Ce site a été créé et est maintenu par une équipe de beaux (et belles) gosses :</h2>
  </br>

<p><img src="https://resize.elle.fr/article/var/plain_site/storage/images/mode/la-mode-des-stars/gossip-girl-comment-s-habilleraient-les-personnages-en-2020/93963874-1-fre-FR/Gossip-Girl-comment-s-habilleraient-les-personnages-en-2020.jpg"></p>
